.ng-scope {
  margin: 0;
}
.container-fluid {
 padding: 0;
}

#ytplayer {
 padding: 0;
 /*margin-left: 15px;*/
 width: 100vw;
 height: 100vh;
 /*position: fixed;*/
}

.twitter-share-button {
 margin-right: 5px;
}